<!DOCTYPE html>

<html lang="en" ng-app="firstModule">
    <head>
        <meta charset="utf-8" />
        <title>First Step</title>
    </head>
    <body ng-init = "customers = ['Meyer, Klaus', 'Müller, Erwin', 'Krause, Otto']">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="application.js"></script>    

        <!--Single input with name "item"-->
        <input type="text" ng-model="item">

        <!-- Show input value (but only if it has a value!) -->
        <div ng-show="item">You entered: {{item}}</div>
        
        <!-- simple calculation (show only if summandA AND summandB have values)-->
        </br>
        <input type="number" ng-model="summandA">
        <input type="number" ng-model="summandB">
        <input type="number" ng-model="summandC">
        <div ng-show="summandA && summandB && summandC">Sum: {{summandA + summandB + summandC}}</div>

        <!-- simple loop-->
        </br>
        <table>
            <tr ng-repeat="customer in customers">
                <td>{{customer}}</td>
            </tr>
        </table>

        <!-- filter over input-->
        </br>
        <div>filter me!</div>
        <input type="text" ng-model="customerFilter">
        <table>
            <tr ng-repeat="customer in customers | filter:customerFilter">
                <td>{{customer}}</td>
            </tr>
        </table>

        <!-- simple loop, now with controller-->
        </br>
        <div>filter me again!</div>
        <input type="text" ng-model="controllerFilter">
        <table class="table" ng-controller="CustomerCtrl">
            <tr ng-repeat="customer in controllerCustomers | filter:controllerFilter">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.surname}}</td>                
            </tr>
        </table> 
        
        <!-- simple loop, now with controller and $http-->
        <!-- adding the items to a "database"-->
        </br>
        <div>filter me again and again!</div>
        <input type="text" ng-model="jsonFileFilter">
        <table class="table" ng-controller="CustomerCtrl">
            <tr ng-repeat="customer in jsonFileCustomers | filter:jsonFileFilter">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.surname}}</td>   
                <td><a href class="btn btn-default btn-sm" ng-click="customerService.addCustomer(customer);">add to database</a></td>                            
            </tr>
        </table> 
        
        <div ng-controller="CustomerDatabaseCtrl">
            <div ng-hide="customerService.getItems().length" class="alert alert-warning">database is empty.</div>
                <table ng-show="customerService.getItems().length" class="table">
                    <tr ng-repeat="item in customerService.getItems() track by $index">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.surname}}</td> 
                    </tr>
                    <tr>
                        <td>{{customerService.getItems().length}} </td>                        
                        <td>customer(s)</td>
                    </tr>
                </table>
       </div>        
    </body>
</html>
